<!DOCTYPE html>

<html>

    <head>

        <style>
        
            body {
                background-color: grey;
                text-align: center;
                font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

            ul {
                list-style-type: none; /* Remove bullets */
                padding: 10; /* Remove padding */
                margin: 10; /* Remove margins */
            }

            .button {
                background-color: #008CBA; /* Green */
                border: none;
                color: white;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
                font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            }

            .button {
                background-color: white; 
                color: black; 
                border: 2px solid #008CBA;
                font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

            .button:hover {
                background-color: #008CBA;
                color: white;
                font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

        </style>

        <title>money</title>

    </head>



    <body>

        <h1>My Todos</h1>

        <ul class="">
            {% for todo in my2dolist %}
                <li>
                    {{todo}}
                    <form method="post" action="/delete/{{loop.index0}}">
                        <input type="submit" value="Delete" class="button">
                    </form>
                </li>
            {% endfor %}
        </ul>

        <form method="post">

            <input name="new2do">

            <input type="submit">

        </form>

        <hr>

        <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR99rvsuG0cbLgsI_Grvmb0z1jsf7r4nV6qbnwHfB4gWg&s"></p>

        <p><img src="https://www.micro-scooters.co.uk/static/cms/media/Stunt-3.jpg"></p>

        <p><img src="https://corporate.mcdonalds.com/content/dam/sites/corp/nfl/newsroom/9839_BaconEggCheeseMcGriddle.uuid%20(1).png"></p>

        <p><img src="https://gifdb.com/images/high/justin-jefferson-griddy-498-x-280-gif-0yxj83354skz050s.gif"></p>

        <p>wasggggg1</p>

    </body>

</html>